# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# User settings
*.config
friends.json
serverlist_cache.json

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]
*.pyc
